@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    var userName = User.FindFirst(ClaimTypes.Name)?.Value ?? "Guest";
    // var userName = "RachMax";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @userName!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="box-container">
        <div class="box" onclick="location.href='@Url.Action("CreateRequest", "Home")';">
            <a href="@Url.Action("CreateRequest", "Home")" class="box-link">Create Request</a>
        </div>
        <div class="box" onclick="location.href='@Url.Action("MyRequests", "UserTickets")';">
            <a href="@Url.Action("MyRequests", "UserTickets")" class="box-link">My Requests</a>
        </div>
        <div class="box" onclick="location.href='@Url.Action("MyApprovals", "UserTickets")';">
            <a href="@Url.Action("MyApprovals", "UserTickets")" class="box-link">My Approvals</a>
        </div>
    </div>
</div>